html body{
	background:black;
	font-family: 微軟正黑體;
}
#header{
	margin: 0px auto;
	height:120px;
}
#header1{
	//text-align:right;
	margin: 0px auto;
	height:85px;
	background-color: rgb(200, 208, 215);
	position:relative;
}
#header2{
	text-align:center;
	margin: 0px auto;
	height:35px;
	width:900px;
	background-color: rgb(81, 88, 95);
	line-height:35px;
	position: relative;
}
#title_logo{
	height: 60px;
}

.header1_item{
	display:inline-block; 
	height:30px;
	line-height:30px;
	font-family: 微軟正黑體;
}	
.header1_logo{
	display:inline-block; 
	margin-top: 3px;
	margin-left: 4px;
	height:70px;
}	
.header2_item{
	display:inline-block; 
	margin: 0px auto;
	font-family: 微軟正黑體;
	color:white;
}	

.header2_item a{
	color:white;
	text-decoration: none;
}   
.header2_item a:link {color:white}　　　　//宣告連結顏色
a:visited {
	color:red;
}　   　 //訪問過連結顏色
.header2_item a:active {
	color:blue;
	font-weight: bold;
}　　    //執行中連結顏色
.header2_item a:hover {
	color:yellow;
	text-decoration:underline;
}

.float_right{
	float:right;
}	
.float_left{
	float:left;
}	

#content_wrapper{
	width:900px;
	margin:0 auto;
}

