html body{
	background:black;
	font-family: 微軟正黑體;
}
#header{
	margin: 0px auto;
	height:120px;
}
#header1{
	//text-align:right;
	margin: 0px auto;
	height:85px;
	background-color: rgb(200, 208, 215);
	position:relative;
	//top:5px;
}
#header2{
	text-align:center;
	margin: 0px auto;
	height:35px;
	background-color: rgb(81, 88, 95);
	line-height:35px;
	position: relative;
}
#content_wrapper{
	width:1000px;
	margin:0 auto;
}
#title_logo{
	height: 60px;
	position:relative;
	top:10px;
	left:15px;
}

.header1_item{
	display:inline-block; 
	height:30px;
	line-height:30px;
	font-family: 微軟正黑體;
	top: 2px;
	position: relative;
}	
.header1_logo{
	display:inline-block; 
	height:70px;
}	
.header2_item{
	display:inline-block; 
	margin: 0px auto;
	font-family: 微軟正黑體;
	color:white;
}	

#header1 a{
	color:black;
	text-decoration: none;
}   
#header1 a:link {
	
}　　　　
#header1 a:visited {
	
}　   　
#header1 a:hover {
	color:gray;
}
#header1 a:active{
	color:blue;
	font-weight: bold;
}

#header2 a{
	color:white;
	text-decoration: none;
}   
#header2 a:link{
	
}
#header2 a:visited {
	color:white;
}
#header2 a:hover {
	color:gray;
}
#header2 a:active {
	font-weight: bold;
}

.float_right{
	float:right;
}	
.float_left{
	float:left;
}	
#header_search_block{
	position:absolute;
	right:5px;
	top:50px;
	width:235px;
}
#header_search_input {
	position:absolute;
	height: 20px;
	width: 150px; 
	border: 1px solid black;
	display: inline-block;
	color: #a2a2a2;
	padding:2px;
}
#header_search_button{
	position:absolute;
	left:160px;
	display:inline-block;
	cursor:pointer;
	background:black;
	color:white;
	height:18px;
	line-height:18px;
	font-size:10pt;
	font-weight:bold;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	box-shadow:2px 2px 1px rgba(20%,20%,40%,0.5);
}

#logout{
	cursor:pointer;
}
