#main_page{
	background:white;
	height:1000px;
	padding-top:7px;
}
#recommand_container{
	position:relative;
	margin-top:0px;
	height:100px;
	width:100%;
}


.recommand_image{
	position:absolute;
	width:195px;
	height:100px;
	//background:black;
	display: inline-block;	
	background-size: 195px 195px;
}
.recommand_image_mid{
}


#recommand_image_1{

	left:0px;
	background-image: url("../data/cover/video-80b4c86e4df515f6766c2ad3261baf92.png");
	background-position: 0% 60%;	
	
}
#recommand_image_2{
	left:202px;
	background-image: url("../data/cover/video-8e071d4f1a87843340b219e7e6dbe325.png");
	background-position: 0% 0%;	

}
#recommand_image_3{
	left:403px;
	background-image: url("../data/cover/video-f90895683b39242478ca50900ff45f62.png");
	background-position: 0% 10%;	
}
#recommand_image_4{
	left:604px;
	background-image: url("../data/cover/video-68857c8b417df5d933af364e5b890774.png");
	background-position: 0% 80%;	
}
#recommand_image_5{
	left:805px;
	background-image: url("../data/cover/video-0052119216b571be017bf7dbfe04ecde.png");
	background-position: 0% 00%;	
}

#news_interface{
	margin-top:30px;
}

#news_title{
	width: 200px;
	height: 30px;
	background-color: rgb(228, 228, 228);
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 3px;
	text-align: right;
	text-decoration: underline;
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}
#news_content{
	margin-left:100px;
	font-size: 15pt;
}
#new_aaa{

}



/*jssor slider*/
#slider_container{
	width: 100%;
	background: rgb(29, 29, 29);
	margin-top:7px;
}
#slider1{
	margin:0 auto;
}


/*Bullet Navigator Skin*/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	background: url(../data/slider/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb05 div {
	background-position: -7px -7px;
}

	.jssorb05 div:hover, .jssorb05 .av:hover {
		background-position: -37px -7px;
	}

.jssorb05 .av {
	background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}

/*Arrow Navigator Skin Begin*/
/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l              (normal)
.jssora12r              (normal)
.jssora12l:hover        (normal mouseover)
.jssora12r:hover        (normal mouseover)
.jssora12ldn            (mousedown)
.jssora12rdn            (mousedown)
*/
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../data/slider/a12.png) no-repeat;
	overflow: hidden;
}

.jssora12l {
	background-position: -16px -37px;
}

.jssora12r {
	background-position: -75px -37px;
}

.jssora12l:hover {
	background-position: -136px -37px;
}

.jssora12r:hover {
	background-position: -195px -37px;
}
.jssora12ldn {
	background-position: -256px -37px;
}

.jssora12rdn {
	background-position: -315px -37px;
}


