#signIn_text{
	width: 200px;
	height: 30px;
	background-color: rgb(228, 228, 228);
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 3px;
	text-align: right;
	text-decoration: underline;
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}
#login_interface{
	padding-top: 100px;
	padding-right: 80px;
	width: 500px;
	height: 300px;
	border-right-style: dashed;
	border-right-width: 2px;
}
#login_page{
	background:white;
	height:1000px;
}
.login_text{
	height: 23px;
	width: 150px;
	background-color: black;
	margin-left: auto;
	margin-right: 5px;
	margin-top:5px;
	margin-bottom:5px;
	color: white;
	font-family: 微軟正黑體;
	text-align: center;
	line-height: 23px;
	
	cursor:pointer;
}
.text_css{
	font-family: Arial, Tahoma, 微軟正黑體;
	text-align: right;
	line-height: 200%;
}
#login_interface a{
	color:white;
	text-decoration: none;
}  