#member_page{
	background:white;
	height:1000px;
}
#member_option_row{
	text-align:center;
	margin:0px auto;
	cursor:pointer;
	height: 35px;
	line-height:35px;
	padding-top:5px;
	padding-bottom: 5px;
}

.member_option_item{
	display:inline-block;
	cursor:pointer;
	height: 35px;
	line-height:35px;
	padding-top:5px;
}
#member_interface{
	width:100%;
	text-align:center;
	
}
.video_picture{
	width:80px;
	height:80px;
}
.video_list_table{
	margin:0px auto;
}

.video_list_table_row{
	
}
.video_list_table_title{
	background-color: rgb(209, 221, 232);
	
}
.video_list_table_title_img{
	border-bottom:2px dashed gray;
}
.video_list_table_title_name{
	width: 300px;
	border-bottom:2px dashed gray;
}
.video_list_table_title_date{
	width: 140px;
	border-bottom:2px dashed gray;
}
.video_list_table_title_stars{
	width: 120px;
	border-bottom:2px dashed gray;
}
.video_list_table_cell{
	border-bottom:2px dashed gray;
}
#member_data_table{
	margin:0px auto;
}
