#member_page{
	background:white;
	height:1000px;
}
#member_option_row{
	text-align:center;
	width:500px;
	margin:0px auto;
}

.member_option_item{
	display:inline-block;

}
#member_interface{
	width:100%;
	text-align:center;
	
}
.video_picture{
	width:80px;
	height:80px;
}